* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ms-main-color: #7FFFD4;
    --ms-cell-color: #60cba7;
}

body {
    font-family: 'PT Sans', sans-serif;
    height: 100vh;
}

/*
*  Common
*/
.container-page {
    height: 100%;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-item-center {
    align-items: center;
}


/*
*  Header
*/
header {
    min-height: 11.25rem;
    padding: 0 2.5rem;
    font-size: 1.75rem;
}

.logo {
    display: block;
    max-height: 5.3125rem;
}

header > h1 {
    margin-left: 2.5rem;
    flex-grow: 1;
    font-size: clamp(1rem, 5vw, 4rem);
}

button {
    padding: 0 3.4375rem;
    font-size: 1.75rem;
}

#setting {
    margin: 0 .625rem;
}

#set-game {
    width: 21.875rem;
    font-size: 1.75rem;
}


/*
*  Main
*/
main {
    background-color: var(--ms-main-color);
    flex-grow: 1;
}

#board {
    padding: 50px 2.5rem;
    max-width: 71.25rem;
    height: 100%;
    flex-wrap: wrap;
}

#cell {
    border: 1px solid black;
    background-color: var(--ms-cell-color);
    color: var(--ms-cell-color);
}

#cell:hover {
    box-shadow: inset 0 0 10px #397963;
}

#board > #cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-10{
    width: calc(100% / 10);
}

.cell-9{
    width: calc(100% / 9);
}

.cell-7{
    width: calc(100% / 7);
}

#cell.selected {
    background-color: aqua;
    color: #161616;
}

#cell.bomb {
    background-color: #f00;
    color: #161616;
}

/*
*  Footer
*/
footer {
    padding: 2.5rem;
    font-size: clamp(1rem, 2vw, 2.125rem);
    justify-content: space-between;
    font-size: 1rem;
}

/*
*  Modal
*/

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.75rem;
  }

  .close {
    color: #aaaaaa;
    font-size: 1.75rem;
    font-weight: bold;
    margin-left: auto;
  }
  
  .close:hover,
  .close:focus {
    color: var(--ms-main-color);
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content > p {
    margin: .9375rem 0;
  }
  .modal-content > button {
    margin: 1.5625rem 0;
  }